<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<html>
<head>
    <meta charset="UTF-8">
    <title>#{grap.list.title}</title>
</head>
<body>
    <ul th:each="grapes : ${grapes}">
        <li>
            Books
            <a th:href="|/grapes/${grapes.id}|">
                <span th:text="${grapes.id}">First</span>
                <span th:text="${grapes.title}">Last</span>
            </a>
        </li>
    </ul>
</body>
</html>