<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{home.title}"></title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Home</h1>
        </div>
    </div>
    <div layout:fragment="frontend_content">
        <div class="row">
            <div class="col-xs-12">
                Home content
            </div>
        </div>
    </div>
</div>
</body>
</html>