<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title th:text="#{admin.title}"></title>
    <link href="../../static/css/backend/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../static/css/backend/metisMenu.min.css" rel="stylesheet" />
    <link href="../../static/css/backend/timeline.css" rel="stylesheet" />
    <link href="../../static/css/backend/sb-admin-2.css" rel="stylesheet" />
    <link href="../../static/css/backend/morris.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html" th:text="#{grapes.index.title}"></a>
        </div>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a th:class="${view == 'backend/index' ? 'active' : ''}" th:text="#{admin.greps.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div th:replace="${view} :: content">
                    <h1 сlass="alert alert-info">Ведутся технические работы</h1>
                    <img src="../static/images/rabota.jpg"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/js/backend/jquery.min.js"></script>
<script src="../../static/js/backend/bootstrap.min.js"></script>
<script src="../../static/js/backend/metisMenu.min.js"></script>
<script src="../../static/js/backend/raphael-min.js"></script>
<script src="../../static/js/backend/sb-admin-2.js"></script>
</body>
</html>