<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head lang="ru">
    <title>Grap market</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon"/>
    <link type="text/css" href="../static/css/frontend/bootstrap.min.css" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="../static/css/frontend/custom.css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand header" href="#">
                        <img class="logo" src="../static/images/grape.png"/>
                </a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <h1 th:text="#{grapes.index.title}"></h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div layout:fragment="frontend_content">
            <h1 сlass="alert alert-info">Ведутся технические работы</h1>
            <img src="../static/images/rabota.jpg"/>
        </div>
    </div>
    <div id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <hr/>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/frontend/jquery-1.11.2.min.js"></script>
    <script src="../static/js/frontend/bootstrap.min.js"></script>
</body>
</html>