<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="backend_layout">
<head>
    <title th:text="#{grap.add.title}"></title>
</head>
<body>
<div class="container-fluid" th:fragment="content">
    <h1 th:text="#{grap.add.title}"></h1>
    <form  th:action="@{/admin/grapes/doAdd}" th:object="${grapes}" action="#" method="post">
        <div th:if="${#fields.hasErrors('*')}"
             class="alert alert-error">
            <p th:each="error : ${#fields.errors('*')}"
               th:text="${error}">
                Validation error
            </p>
        </div>
        <label for="title" th:text="#{grap.add.field.title}"></label>
        <input type="text"
               th:field="*{title}"
               th:class="${#fields.hasErrors('title')} ? 'field-error'"/>
        <label for="description" th:text="#{grap.add.field.description}"></label>
        <input type="text"
               th:field="*{description}"
               th:class="${#fields.hasErrors('description')} ? 'field-error'"/>
        <div class="form-actions">
            <input type="submit" th:value="#{button.add}"/>
        </div>
    </form>
</div>
</body>
</html>