<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="backend_layout">
<head>
    <title th:text="#{grap.list.title}"></title>
</head>
<body>
    <div class="container-fluid" th:fragment="content">
        <h1 th:text="#{grap.list.title}"></h1>
        <table>
            <thead>
            <tr>
                <th scope="col" th:text="#{grap.list.head.id}"></th>
                <th scope="col" th:text="#{grap.list.head.title}"></th>
                <th scope="col" th:text="#{grap.list.head.description}"></th>
             </tr>
            </thead>
            <tbody>
            <tr th:each="grep : ${grapesList}">
                <td th:text="${grep.id}"></td>
                <td th:text="${grep.title}"></td>
                <td th:text="${grep.description}"></td>
                <td>
                    <a th:href="@{/admin/grapes/edit(id=${grep.id})}">EDIT</a>
                    <a th:href="@{/admin/grapes/delete(id=${grep.id})}">DELETE</a>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</body>
</html>